/*Parent container for the CLI*/
#cli {
    height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #e2ddd9;/*Light grey*/
}

/*Single result*/
.cli-entry {
    width: 100%;
    padding: 5px;
    border-bottom: 1px solid #a8a39d; /*grey*/
}

/*Used for failed commands*/
.error {
    color: #cc3300;/*red*/
}

/*The text input in which to type commands*/
#in {
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
